<html xmlns:layout="http://ultraq.net.nz/thymeleaf/layout" xmlns:th="http://thymeleaf.org" layout:decorate="~{layout}">

<div layout:fragment="content" class="container my-3">
    <div class="my-3 d-flex justify-content-center" style="height: 300px;">
        <!-- <input class="form-control w-75 p-3" type="file" id="formFile"> -->
        <img
            src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2Fc6adBI%2FbtsuGmHqNTZ%2Foo7remGfUfgdu42XKZuMkk%2Fimg.png">
    </div>

    <div class="d-flex justify-content-center mb-3">
        <div class="d-grid gap-2 w-75">
            <form th:action="@{/img/upload}" method="post" enctype="multipart/form-data">
                <input type="file" name="file">
                <button class="btn btn-success" type="submit">이미지 업로드</button>
            </form>

            <form th:action="@{/img/upload}" method="get" enctype="multipart/form-data">
                <button class="btn btn-primary" type="submit">OCR 실행</button>
            </form>

            <p th:if="${message}" th:text="${message}"></p>
        </div>
    </div>

    <!-- <div class="d-flex justify-content-center">
        <div class="d-grid gap-2 w-75">
            <button class="btn btn-primary" id="ocrButton">OCR 수행</button>
            <a class="btn btn-primary" id="ocrButton" th:href="@{/img/performOCR}">OCR 수행</a>
        </div>
    </div> -->
<!-- 
    <form id="ocrForm" enctype="multipart/form-data">
        <input type="file" name="file" id="fileInput">
        <button class="btn btn-primary" type="button" onclick="performOcr()">OCR 수행</button>
    </form>
    <div id="resultText"></div>

    <p th:if="${message}" th:text="${message}"></p>
    <p th:if="${ocrResult}" th:text="${ocrResult}"></p> -->

    <!-- <div class="d-flex justify-content-center" id="ocrResultDiv">
        <p>OCR 결과: <span th:text="${ocrResult}" id="ocrResult"></span></p>
    </div> -->

    <div class="d-flex justify-content-center">
        <div class="d-grid gap-2 w-75">
            <a class="btn btn-success" th:href="@{/vegan/checkVegan}">판독하기</a>
            <!-- <a class="btn btn-success" id="delayedRedirect">판독하기</a> -->
        </div>
    </div>
</div>

</html>