<!doctype html>
<html lang="ko" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout" xmlns:th="http://thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css">
    <!-- Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js"></script>
    <!-- UserService CSS -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <script src="https://use.fontawesome.com/releases/v6.4.2/js/all.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <title>VEGANING</title>
</head>

<body style="min-height:100vh;" class="d-flex flex-column">
    <!-- 네비게이션바 -->
    <nav th:replace="~{navbar :: navbarFragment}"></nav>

    <!-- 기본 템플릿 안에 삽입될 내용 Start -->
    <main class="flex-grow-1">
        <th:block layout:fragment="content"></th:block>
    </main>
    <!-- 기본 템플릿 안에 삽입될 내용 End -->

    <!-- <footer class="bg-dark text-light">
        <div class="container py-3 d-flex justify-content-center">
            copyright all rights reserved
        </div>
    </footer> -->

    <script>
        $('select[value]').each((index, node) => {
            const $select = $(node);
            const value = $(node).attr("value");
            $select.find(`option[value="${value}"]`).prop("selected", true);
        });

        if (window.location.pathname == '/main') {
            document.write('<style>.navbarItem{display:none !important;}</style>');
        }
    </script>

    <th:block layout:fragment="script"></th:block>
</body>

</html>