<html xmlns:layout="http://ultraq.net.nz/thymeleaf/layout" xmlns:th="http://thymeleaf.org" layout:decorate="~{layout}">

<div layout:fragment="content">
    <!-- <img src="https://cdn.pixabay.com/photo/2019/01/21/21/35/salad-3946916_1280.jpg" class="z-1 position-absolute"
        style="object-fit: cover; height: 100%;"> -->

    <div>
        <div class="position-absolute top-50 start-50 translate-middle">
            <h1 class="mb-3 fw-bold text-center display-3 tts"
                style="text-shadow: 4px 6px 4px rgba(0, 0, 0, 0.2); position: auto; color: #206A5D;">VEGANING</h1>

            <div class="card z-2" style="background-color: #FFFFFF;">
                <div class="card-body rounded" style="width: 30rem;">

                    <div class="d-flex justify-content-center">
                        <form th:action="@{/user/login}" method="post" class="w-75 p-3">
                            <div th:if="${param.error}">
                                <div class="alert alert-danger tts">
                                    아이디 또는 비밀번호를 확인해주세요.
                                </div>
                            </div>

                            <div class="mb-3">
                                <label class="form-label tts">아이디</label>
                                <input type="text" name="username" class="form-control"
                                    style="background-color: #F1F1E8" placeholder="아이디를 입력하세요.">
                            </div>
                            <div class="mb-3">
                                <label class="form-label tts">비밀번호</label>
                                <input type="password" name="password" class="form-control"
                                    style="background-color: #F1F1E8" placeholder="비밀번호를 입력하세요.">
                            </div>
                              
                            <div class="btns d-grid gap-2 mb-3">
                                <button type="submit" class="btn tts"
                                    style="background-color: #206A5D; color: #ffff;">로그인</button>
                                <a class="btn tts" href="/oauth2/authorization/kakao"
                                    style="background-color: 	#FEE500; color: rgb(0, 0, 0, 0.85);">
                                    <i class="fa-solid fa-comment" style="color: #000000;"></i>
                                    카카오로그인
                                </a>
                            </div>
                        </form>
                    </div>

                    <div class="text-center tts" style="color: #8E8989;"><small>아직 회원이 아니신가요? <a th:href="@{/user/signup}"
                            style="color: #81B214;">회원가입</a></small></div>
                </div>

            </div>
        </div>
    </div>

</div>

</html>