<html xmlns:layout="http://ultraq.net.nz/thymeleaf/layout" xmlns:th="http://thymeleaf.org" layout:decorate="~{layout}">

<div layout:fragment="content">
    <img src="https://cdn.pixabay.com/photo/2019/05/27/08/19/vegan-4232116_1280.jpg" class="d-block w-100" style="object-fit: cover; height: 200px;">
    <div class="justify-content-center text-center btns container my-5">

        <a class="rounded btn m-3 tts" th:href="@{/vegan/manual}" style="width: 140px; height: 140px; background-color: #FFFFFF; border: 5px solid #206A5D;">
            <i class="ri-camera-lens-fill" style="color: #206A5D; font-size: 68px;"></i><br><p style="color: #000000;">스마트 렌즈</p>
        </a>
        <a class="rounded btn m-3 tts" th:href="@{/recipe/list}" style="width: 140px; height: 140px; background-color: #FFFFFF; border: 5px solid #206A5D;">
            <i class="ri-tree-fill" style="color: #206A5D; font-size: 68px;"></i><br><p style="color: #000000;">비건 레시피</p>
        </a>
        <a class="rounded btn m-3 tts" href="#" style="width: 140px; height: 140px; background-color: #FFFFFF; border: 5px solid #206A5D;">
            <i class="ri-search-eye-fill" style="color: #206A5D; font-size: 68px;"></i><br><p style="color: #000000;">제품 검색</p>
        </a>
        <a class="rounded btn m-3 tts" th:href="@{/community/create}" style="width: 140px; height: 140px; background-color: #FFFFFF; border: 5px solid #206A5D;">
            <i class="ri-leaf-fill" style="color: #206A5D; font-size: 68px;"></i><br><p style="color: #000000;">그린 기록</p>
        </a>
        <a class="rounded btn m-3 tts" th:href="@{/community/list}" style="width: 140px; height: 140px; background-color: #FFFFFF; border: 5px solid #206A5D;">
            <i class="ri-team-fill" style="color: #206A5D; font-size: 68px;"></i><br><p style="color: #000000;">커뮤니티</p>
        </a>
        <a class="rounded btn m-3 tts" th:href="@{/user/mypage}" style="width: 140px; height: 140px; background-color: #FFFFFF; border: 5px solid #206A5D;">
            <i class="ri-user-settings-fill" style="color: #206A5D; font-size: 68px;"></i><br><p style="color: #000000;">마이 페이지</p>
        </a>
    </div>
</div>

</html>