<html xmlns:layout="http://ultraq.net.nz/thymeleaf/layout" xmlns:th="http://thymeleaf.org" layout:decorate="~{layout}">

<div layout:fragment="content" class="container my-3">
    <h5 class="my-3 border-bottom pb-2 tts">마이페이지</h5>
    
    <div class="text-center d-flex justify-content-center m-5">

        <div class="card m-3 tts" style="width: 200px; background-color: #F1F1E8;">
            <div class="card-body">
                <p class="card-text" th:text="${user.name} + ' 님'"></p>
                <p class="card-text" th:text="'ID: ' + ${user.username}"></p>
            </div>
        </div>

        <div class="card m-3 tts" style="width: 200px; background-color: #F1F1E8;">
            <div class="card-body">
                <p class="card-text">LEVEL: 7<span text=""></span></p>
                <p class="card-text">비건<span text=""></span></p>
            </div>
        </div>
    
    </div>

    <div class="justify-content-center text-center btns container my-5">

        <div>
            <a class="rounded btn m-3 tts" th:href="@{/type/test}"
                style="width: 140px; height: 140px; background-color: #FFFFFF; border: 5px solid #206A5D;">
                <i class="ri-survey-fill" style="color: #206A5D; font-size: 68px;"></i><br>
                <p style="color: #000000;">성향 테스트</p>
            </a>
            <a class="rounded btn m-3 tts" href="#"
                style="width: 140px; height: 140px; background-color: #FFFFFF; border: 5px solid #206A5D;">
                <i class="ri-virus-fill" style="color: #206A5D; font-size: 68px;"></i><br>
                <p style="color: #000000;">알레르기</p>
            </a>
            <a class="rounded btn m-3 tts" th:href="@{/user/archive}"
                style="width: 140px; height: 140px; background-color: #FFFFFF; border: 5px solid #206A5D;">
                <i class="ri-footprint-fill" style="color: #206A5D; font-size: 68px;"></i><br>
                <p style="color: #000000;">나의 활동</p>
            </a>
            <a class="rounded btn m-3 tts" href="#"
                style="width: 140px; height: 140px; background-color: #FFFFFF; border: 5px solid #206A5D;">
                <i class="ri-shield-user-fill" style="color: #206A5D; font-size: 68px;"></i><br>
                <p style="color: #000000;">개인 정보 수정</p>
            </a>
            <a class="rounded btn m-3 tts" th:href="@{/user/logout}" sec:authorize="isAuthenticated()"
                style="width: 140px; height: 140px; background-color: #FFFFFF; border: 5px solid #206A5D;">
                <i class="ri-login-box-fill" style="color: #206A5D; font-size: 68px;"></i><br>
                <p style="color: #000000;">로그아웃</p>
            </a>
        </div>
    </div>
</div>

</html>