<html xmlns:layout="http://ultraq.net.nz/thymeleaf/layout" xmlns:th="http://thymeleaf.org" layout:decorate="~{layout}">

<div layout:fragment="content" class="container my-3">
    <h5 class="my-3 border-bottom pb-2">그린 기록</h5>
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div th:each="my_post, loop : ${paging}" class="col">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">
                        <a th:href="@{|/community/detail/${my_post.id}|}" th:text="${my_post.subject}"></a>
                        <span style="color: #81B214;" class="small ms-2" th:if="${#lists.size(my_post.commentList) > 0}"
                            th:text="${#lists.size(my_post.commentList)}">
                        </span>
                    </h5>
                    <p class="card-text">
                        <span th:text="${my_post.author?.username}"></span><br />
                        <small class="text-muted"
                            th:text="${#temporals.format(my_post.createDate, 'yy-MM-dd HH:mm')}"></small>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- 페이징처리 시작 -->
    <div th:if="${!paging.isEmpty()}">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
                <a class="page-link" th:href="@{|?page=${paging.number-1}|}">
                    <span>이전</span>
                </a>
            </li>

            <li style="background-color: #81B214;" th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
                th:if="${page >= paging.number-5 and page <= paging.number+5}"
                th:classappend="${page == paging.number} ? 'active'" class="page-item">
                <a class="page-link" th:href="@{|?page=${page}|}" th:text="${page+1}"
                    style="color: #FFFFFF; background-color: #206A5D; border-color: #206A5D;"></a>
            </li>

            <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
                <a class="page-link" th:href="@{|?page=${paging.number+1}|}">
                    <span>다음</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- 페이징처리 끝 -->

    <div class="mt-2">
        <a th:href="@{/community/create}" class="btn my-2" style="background-color: #206A5D; color: #FFFFFF;">나의 그린 기록
            남기기</a>
    </div>
</div>

</html>