<html xmlns:layout="http://ultraq.net.nz/thymeleaf/layout" xmlns:th="http://thymeleaf.org" layout:decorate="~{layout}">

<div layout:fragment="content" class="container my-3">
    <h1 class="mt-5">비건 판독하기</h1>

    <!-- <div class="mt-4">
        <p th:if="${isVegan}" class="text-success">비건 제품입니다.</p>
        <p th:unless="${isVegan}" class="text-danger">비건 제품이 아닙니다.</p>
    </div> -->

    <!-- <h2>성분 리스트: </h2>
    
    <ul>
        <th:each="ingredient : ${ingredients}">
            <li th:text="${ingredientNames}"></li>
        </th:each>
    </ul> -->
    
    <a class="btn btn-success" th:href="#">판독하기</a>
    <a class="btn btn-success" th:href="@{/vegan/checkVegan}">결과 보러 가기</a>
    <!-- <a class="btn btn-success" th:href="@{/vegan/recommend}">비슷한 제품 추천받기</a> -->

    <!-- <div class="container d-flex justify-content-between align-items-center">
        <div class="box p-3 text-center">
            <img src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2Fdj209L%2FbtsuRJBgdWU%2FKvL30cPNWuoxMXNtEetIw1%2Fimg.jpg"
                style="height: 400px;">
        </div>
        <div class="box p-3 text-center">
            <div>이 제품은 <span style="color: #038F00;">"<b>비건</b>"</span> 제품입니다.</div>
            <div>알레르기 정보 | <span style="color: red;"><b>아몬드</b> 함유</div>
        
            <div th:if="${isVegan}" th:text="비건 제품입니다."></div>
            <div th:unless="${isVegan}" th:text="비건 제품이 아닙니다."></div>
        </div>
        <div layout:fragment="content" class="container my-3">
    <div class="container d-flex justify-content-between align-items-center">
        <div class="box p-3 text-center">
            <img src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2Fdj209L%2FbtsuRJBgdWU%2FKvL30cPNWuoxMXNtEetIw1%2Fimg.jpg"
                style="height: 400px;">
        </div>
        <div class="box p-3 text-center">
            <div>이 제품은 <span style="color: #038F00;">"<b>비건</b>"</span> 제품입니다.</div>
            <div>알레르기 정보 | <span style="color: red;"><b>아몬드</b> 함유</div>
        
            <div th:if="${isVegan}" th:text="비건 제품입니다."></div>
            <div th:unless="${isVegan}" th:text="비건 제품이 아닙니다."></div>
        </div>
        <div class="box p-3 text-center">
            <h5>성분</h5>
            <ul class="list-group list-group-flush text-start">
                <li class="list-group-item">아몬드액</li>
                <li class="list-group-item">아몬드고형분</li>
                <li class="list-group-item">설탕</li>
                <li class="list-group-item">정제수</li>
                <li class="list-group-item">식염</li>
                <li class="list-group-item">영양강화제 3종</li>
                <li class="list-group-item">산도조절제</li>
                <li class="list-group-item">유화제</li>
                <li class="list-group-item">젤란검</li>
                <li class="list-group-item">향료</li>
            </ul>
            <div class="d-flex justify-content-center mb-3">
                <a href="/vegan/recommend" class="btn btn-success">추천 제품 보기</a>
            </div>
        </div>
    </div>
</div>
                <a href="/vegan/recommend" class="btn btn-success">추천 제품 보기</a>
            </div>
        </div>
    </div> -->
</div>

</html>