<html xmlns:layout="http://ultraq.net.nz/thymeleaf/layout" xmlns:th="http://thymeleaf.org" layout:decorate="~{layout}">

<div layout:fragment="content" class="container my-3">
    <div class="my-3 d-flex justify-content-center" style="height: 300px;">
        <!-- <input class="form-control w-75 p-3" type="file" id="formFile"> -->
        <img
            src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2Fdj209L%2FbtsuRJBgdWU%2FKvL30cPNWuoxMXNtEetIw1%2Fimg.jpg">
    </div>

    <div class="d-flex justify-content-center mb-3">
        <div class="d-grid gap-2 w-75">
            <a class="btn btn-success" th:href="@{/lens/ocr/img}">이미지 업로드</a>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <div class="d-grid gap-2 w-75">
            <a class="btn btn-success" th:href="@{/vegan/checkVegan}">판독하기</a>
            <!-- <a class="btn btn-success" id="delayedRedirect">판독하기</a> -->
        </div>
    </div>
</div>

</html>