<html xmlns:layout="http://ultraq.net.nz/thymeleaf/layout" xmlns:th="http://thymeleaf.org" layout:decorate="~{layout}">

<div layout:fragment="content" class="container my-3">
    <div class="card">
        <div class="card-header tts">
            <h2>성향 테스트</h2>
        </div>
        <div class="card-body">
    
            <form th:action="@{/type/test}" method="post">
        
                <!-- 현재 질문 표시 -->
                <p th:text="${currentQuestion}" class="tts"></p>
        
                <div class="form-group">
                    <!-- O(1) 버튼 -->
                    <button type="submit" class="btn btn-success tts" name="answer" value="1">O</button>
        
                    <!-- X(0) 버튼 -->
                    <button type="submit" class="btn btn-danger tts" name="answer" value="0">X</button>
                </div>
            </form>
        </div>
    </div>
</div>

</html>